<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here </title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"> 
 
</head>
<body>
	<a th:href="@{/nuevo}" class="btn btn-primary" >Nuevo</a>
	<div class="container mt-4">
		<table class="table">
			<thead>
			<tr>
				<th>Id</th>
				<th>Documento</th>
				<th>TipoDoc</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Direccion</th>
				<th>Email</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="cliente:${cliente}">
					<td th:text="${cliente.idcliente}"></td>
					<td th:text="${cliente.documento}"></td>
					<td th:text="${cliente.tipdoc}"></td>
					<td th:text="${cliente.nombres}"></td>
					<td th:text="${cliente.apellidos}"></td>
					<td th:text="${cliente.direccion}"></td>
					<td th:text="${cliente.email}"></td>
					<td>
					<a th:href= "@{/editar/}+${cliente.idcliente}" class="btn btn-warning">Editar</a>
					<a th:href= "@{/eliminar/}+${cliente.idcliente}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div> 
</body>
</html>